<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Panjwani Tutorials | Dynamic Dependant/Chained Dropdownlist</title>
</head>
<body>
<div class="container mt-5" style="width:40%">
    <h3>Dynamic Dependant/Chained Dropdownlist</h3>
    <label for="country">Country</label>
    <select class="form-select" aria-label="Default select example" id="country" onchange="countryfield()">
        <option selected>Choose Country</option>
        {% for i in country %}
            <option value="{{i.id}}" {% if request.GET.country == i.id|lower %}selected{% endif %}>{{i.name}}</option>
        {% endfor %}
    </select>
    <br/>
    <label for="state">State</label>
    <select class="form-select" aria-label="Default select example" id="state" onchange="statefield()">
        <option selected>Choose State</option>
        {% for i in state %}
            <option value="{{i.id}}" {% if request.GET.state == i.id|lower %}selected{% endif %}>{{i.name}}</option>
        {% endfor %}
    </select>
<br/>
    <label for="district">District</label>
    <select class="form-select" aria-label="Default select example" id="district">
        <option selected>Choose District</option>
        {% for i in district %}
            <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
    </select>
    <br/>
</div>
<script>
    function countryfield(){
        countryid = document.getElementById('country').value;
        window.location = "/?country="+countryid;
    }
    function statefield(){
       stateid = document.getElementById('state').value;
       window.location = "/?country="+'{{request.GET.country}}'+"&state="+stateid;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
