<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Multi-Cascading Dropdowns</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
		$(document).ready(function() {
			// initialize dropdowns

			// validate name field
			$("#fname").keyup(function() {
				var name = $(this).val();
				if (name.length < 5) {
					$(this).css("border-color", "red");
				} else {
					$(this).css("border-    color", "green");
				}
			});

            $("#lname").keyup(function() {
				var name = $(this).val();
				if (name.length <5) {
					$(this).css("border-color", "red");
				} else {
					$(this).css("border-color", "green");
				}
			});
        });
    </script>
</head>
<body>

    <form action="{% url 'index' %}" method="POST" id="index" onsubmit="return validate()">
         {% csrf_token %}

    <div id="form-container">
        <div class="form-section">
    <label for="fname">First name: </label>
    <div>
    <input type="text" required id="fname" name="fname" length="5" style="min-width: 100%;width: auto;min-height: 19px;" onkeyup="validateName();"><br><br> 
    <span id="nameError" class="error" style="color:red;"></span><br>
    </div>

    </div>

    <div class="form-section">
        <label for="lname">Last name: </label>
        <div>
        <input type="text" required id="lname" name="lname" length="5" style="min-width: 100%;width: auto;min-height: 19px;" onkeyup="validatelName();"><br><br> 
        <span id="lnameError" class="error" style="color:red;"></span><br>
        </div>
    
        </div>

    

        <div class="form-section">
    <label for="fname">country: </label>   &nbsp
    <div>
    <select id="continent-select" name="TB_continent" id="TB_continent" required>
        <option value="">Select a continent</option>
        {% for continent in continents %}
            <option value="{{ continent.id }}">{{ continent.name }}</option>
        {% endfor %}
    </select>
</div>
        </div>


    <div class="form-section">
    <label for="fname1">State: </label>   &nbsp
    <select id="country-select" name="TB_country" id="TB_country" required >
        <option value="">Select a country</option>
    </select>

        </div>

        <div class="form-section">
    <label for="fname2">City: </label>   &nbsp
    <select id="city-select" name="TB_city" id="TB_city" required>
        <option value="">Select a city</option>
    </select>
        </div>
    </div>


   



<div class="end">
    <button class="btn btn-outline-info" type="submit" value="Search">
        <a>Submit</a>
    </button>

    <input type="submit" value="send">
</div>


</form>

    <script>


        $(document).ready(function() {
            $("#continent-select").change(function() {
                var continentId = $(this).val();
                $.ajax({
                    url: '/get_countries/',
                    data: {
                        'continent_id': continentId
                    },
                    success: function(data) {
                        $("#country-select").html('<option value="">Select a country</option>');
                        $.each(data.countries, function(i, country) {
                            $("#country-select").append('<option value="' + country.id + '">' + country.name + '</option>');
                        });
                    }
                });

                $("#fname").keyup(function() {
                    var name = $(this).val();
                    if (name.length < 5) {
                        $(this).css("border-color", "red");
                        var nameError = document.getElementById("name-error");
                        nameError.innerHTML = "Name should be at least 5 characters long.";
                    } else {
                        $(this).css("border-color", "green");
                    }
                });
            });
            $("#country-select").change(function() {
                var countryId = $(this).val();
                $.ajax({
                    url: '/get_cities/',
                    data: {
                        'country_id': countryId
                    },
                    success: function(data) {
                        $("#city-select").html('<option value="">Select a city</option>');
                        $.each(data.cities, function(i, city) {
                            $("#city-select").append('<option value="' + city.id + '">' + city.name + '</option>');
                        });
                    }
                });
            });
            
        });


        


    </script>
    <script>
        function validate()
        {
            validateName();
            validatelName();
            var errorElements = document.getElementsByClassName("error");

			for (var i = 0; i < errorElements.length; i++) {
				if (errorElements[i].innerHTML !== "") {
					alert("Form submission failed. Please fix the errors and try again.");
					return false;
				}
			}

			alert("Form submitted successfully.");
			return true;    
        }
    </script>
    <script>
        function validateName()
        {
            var nameInput = document.getElementById("fname");
			var nameError = document.getElementById("nameError");

			if (nameInput.value.length !== 5) {
				nameError.innerHTML = "Name must be 5 characters long";
			} else {
				nameError.innerHTML = "";
			}
        }

        function validatelName()
        {
            var lnameInput = document.getElementById("lname");
			var lnameError = document.getElementById("lnameError");

			if (lnameInput.value.length !== 5) {
				lnameError.innerHTML = "Last name must be 5 characters long";
			} else {
				lnameError.innerHTML = "";
			}
        }
    </script>
    <style>
        select
        {
            
            width: auto;
            min-height: 25px;
            min-width: 100%;
        }
        #form-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 20px;
            
          }
          
          .form-section {
            padding: 10px;
            padding-left: 30px;
            
            
          }
          
    </style>
</body>
</html>
